<!--  title + url + upvote button -->
<div>
    <span class="title">{{title}} </span><a href="{{url}}">{{url}}</a>
    <form method="POST" action="/upvote/{{slug}}">
        <!-- can upvote multiple times -->
        <input class="upvote-btn" type="submit" name="upvote" value="upvote!">
        <span class="upvote-num">upvoted {{upvotes}} times.</span>
    </form>
</div>

<!--  list of comments -->
<div class="comments">
    <div class="comment-header">
        comments
    </div>

    {{#each comments as |comment|}}
        <div class="comment">
            <span class="user">{{comment.user}}</span>  <i>says:</i>
            <div class="comment-body"> {{comment.text}}</div>
        </div>
    {{/each}}
</div>

<!--  add comment form -->
<div class="add-comment">
    <div class="comment-header">
        add a comment
    </div>

    <form method="POST" action="">
        <div class="inputs">
          <input type="text" name="text" placeholder="comment" required>
          <input type="text" name="user" placeholder="name" required>
          <input type="submit">
        </div>
    </form>

    <!--  last comment -->
    <div class="last-comment">
        {{#if lastComment}}
            your last comment is: <i>{{lastComment}}</i>
        {{/if}}
    </div>
</div>
