  <h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Schedule</h2>

<div class="pa4">

  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Trip</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Dates</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Destination</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Early Bird Rate</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Regular Rate</th>
          <!-- <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Instructors</th> -->
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white"></th>
        </tr>
      </thead>
      <tbody class="lh-copy">
      {{#each trips as |t|}}
        <tr>
          <td class="pv3 pr3 bb b--black-20"><a class="link f5 fw6 db blue no-underline underline-hover" href="/trips/{{t.tripID}}">{{t.tripName}}</a></td>
          <td class="pv3 pr3 bb b--black-20">from <span class="fw6 green">{{t.startDate}}</span><br>to <span class="fw6 green">{{t.endDate}}</span></td>
          <td class="pv3 pr3 bb b--black-20"><span class="fw6 purple">{{t.destinations}}</span></td>
          <td class="pv3 pr3 bb b--black-20"><span class="fw6 light-purple">{{{t.earlyBirdPrice}}}</span><br><br>Apply by <span class="fw6">{{t.earlyBirdDeadline}}</span></td>
          <td class="pv3 pr3 bb b--black-20"><span class="fw6 dark-pink">{{{t.regularPrice}}}</span><br><br>Apply by <span class="fw6">{{t.regularDeadline}}</span></td>
          <!-- <td class="pv3 pr3 bb b--black-20">{{t.teachers}}</td> -->
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
