  <h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Schedule</h2>

<div class="pa4">

  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Dates</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Trip</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Destination</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Deadline</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Lecturer</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white"></th>
        </tr>
      </thead>
      <tbody class="lh-copy">
      {{#each trips as |t|}}
        <tr>
          <td class="pv3 pr3 bb b--black-20">{{t.startDate}} to {{t.endDate}}</td>
          <td class="pv3 pr3 bb b--black-20"><a class="link black" href="http://philomobile.bigcartel.com/">{{t.name}}</a></td>
          <td class="pv3 pr3 bb b--black-20">{{t.destinations}}</td>
          <td class="pv3 pr3 bb b--black-20">{{t.applyBy}}</td>
          <td class="pv3 pr3 bb b--black-20">{{t.teachers}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
