<section class="mw7 center avenir">
  <h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Philosophy Trips</h2>

<section class="tc pb3 b">
  {{#if hasEnded}}
    <a class="f4 link fw6 hover-blue no-underline black dib ph2 pv1" href="/trips/?hasEnded=false">Upcoming</a> /
    <a class="f4 link fw6 hover-green no-underline black dib ph2 pv1 ba b--dotted b--green green" href="/trips/?hasEnded=true">Past</a>
  {{else}}
    <a class="f4 link fw6 hover-blue no-underline black dib ph2 pv1 ba b--dotted b--blue blue" href="/trips/?hasEnded=false">Upcoming</a> /
    <a class="f4 link fw6 hover-green no-underline black dib ph2 pv1" href="/trips/?hasEnded=true">Past</a>
  {{/if}}
</section>

{{#each trips as |trip|}}
  {{#if trip.visible}}
  <article class="bt bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim" href="/trips/{{trip.slug}}">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="{{trip.photos}}" class="db">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 baskerville mt0 lh-title">{{trip.tripName}}</h1>
          <p class="f6 f5-l lh-copy">
            {{trip.shortDescription}}
          </p>
  <!--         <p class="f6 lh-copy mv0">with {{trip.teachers}}</p>
          <p class="f6 lh-copy mv0">from {{trip.startDate}} to {{trip.endDate}}</p> -->
          <!-- add locations here: -->
        </div>
      </div>
    </a>
  </article>
   {{/if}}
 {{/each}} 
</section>